@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    --Strong-cyan: hsl(172, 67%, 45%);
}

body{
    height: 100vh;
    background-color: var(--Light-grayish-cyan);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:500px) {
    body {
        height: 100% ;
        padding-top:1.5em ;
    }
}